# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Shared-Unity-Editor-Project.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\boomeditor-unity\Shared-Unity-Editor-Project\.idea\.idea.Shared-Unity-Editor-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
